@model FileSharing.Models.EditFile

@{
    ViewBag.Title = "Редактирование файла";
    string text = "Если файл имеет тип доступа \"Закрытый\", то доступ к этому файлу имеете только вы в своем профиле, а если файл имеет тип доступа \"Открытый\", то доступ к нему имеют все пользователи во вкладке \"Файлы\"";
}

<br />
<h2 id="headerId" class="container">Редактирование файла</h2>
<br />
<br />

<div style="margin:0 auto;">
    <div id="editFile" class="text-center" style=" margin: auto;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("fileId", Model.Id, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Id } })

                <div class="col-md-12"><br /></div>

                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Name } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.AccessId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div class="btn-group pull-left" data-toggle="buttons">
                                @if (ViewBag.Access == "private")
                                {
                                    <label class="btn btn-primary active">
                                        <input type="radio" name="AccessId" id="AccessId" autocomplete="off" value=1 checked> Закрытый
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="AccessId" id="AccessId" autocomplete="off" value=2> Открытый
                                    </label>
                                }
                                else if (ViewBag.Access == "public")
                                {
                                    <label class="btn btn-primary ">
                                        <input type="radio" name="AccessId" id="Gender" autocomplete="off" value=1> Закрытый
                                    </label>
                                    <label class="btn btn-primary active">
                                        <input type="radio" name="AccessId" id="Gender" autocomplete="off" value=2 checked> Открытый
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12"><br /></div>

                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" value="Сохранить" class="btn btn-success btn-block" style="margin-left: 50px; width: 238px" />
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Назад", "Index", "Home", htmlAttributes: new { @class = "btn btn-warning", @style = "min-width: 119px" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
