@model FileSharing.Models.EditRole

@{
    ViewBag.Title = "EditUserRole";
}
<br />
<h2 id="headerId" class="container">Изменение роли пользователя</h2>
<br />
<br />

<div style="margin:0 auto;">
    <div id="editUserRole" class="text-center" style=" margin: auto;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <br />
                <div class="row" style="display:none">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Login } })
                            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger", @style = "color: #ff4f4c" })
                        </div>
                    </div>
                </div>

                <dl class="row">
                    <dt class="col-md-2" style="padding-left: 30px;">
                        @Html.DisplayNameFor(model => model.Login)
                    </dt>

                    <dd class="col-md-10">
                        <b>@ViewBag.Login</b>
                    </dd>
                </dl>


                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.RoleId } })
                            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger", @style = "color: #ff4f4c" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12"><br /></div>

                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" value="Сохранить" class="btn btn-success btn-block" style="margin-left: 50px; width: 165px" />
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Назад", "AccountDetails", "Admin", new { userId = ViewBag.UserId }, htmlAttributes: new { @class = "btn btn-warning", @style = "min-width: 83px" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
