@*@model IEnumerable<FileSharing.Models.File>*@
@model FileSharing.Models.PageViewModel
@using FileSharing.Helpers
@{
    ViewBag.Title = "FileList";
}

<h2>Панель администратора</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Список пользователей", "Index", "Admin", htmlAttributes: new { @class = "btn btn-default" })
        @Html.ActionLink("Список файлов", "FileList", "Admin", htmlAttributes: new { @class = "btn btn-default btn-primary selected" })
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">
                    @*@Html.DisplayNameFor(model => model.Id)*@
                    Id
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Name)*@
                    Название
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.SizeInBytes)*@
                    Размер
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.User.Login)*@
                    Автор
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Date)*@
                    Дата загрузки
                </th>
                <th class="text-center">
                    Действия
                </th>
            </tr>

            @foreach (var item in Model.Files)
            {
                <tr>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Name)*@
                        @Html.ActionLink(item.Name, "Details", "File", new { id = item.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SizeInBytes)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.User.Login)*@
                        @foreach (var user in ViewBag.Users)
                        {
                            if (user.Id == item.UserId)
                            {
                                @user.Login <br />
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td class="text-center">
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                            @Html.ActionLink("Delete", "Delete", "File", new { id = item.Id }, null)
                        @*@using (Html.BeginForm("Delete", "File", new { fileId = item.Id }))
                        {
                            @Html.Hidden("Id", item.Id)
                            <input type="submit" class="btn btn-default btn-xs" value="Удалить файл" />
                        }*@
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("FileList", new { page = x }))
</div>