@model FileSharing.Models.PageViewModel
@using FileSharing.Helpers
@{
    ViewBag.Title = "FileList";
}

@if (ViewBag.StatusMessage != "")
{
    <div class="text-event-success container-fluid">@ViewBag.StatusMessage</div>
}

<br />
<h2 id="headerId" class="container">Панель администратора</h2>
<br />
<br />

<div class="container-fluid">
    <div class="row">
        @using (Html.BeginForm("FileList", "Admin", FormMethod.Get))
        {
            @Html.AntiForgeryToken()

            <div class="form-inline">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.DropDownList("item", ViewData["Items"] as SelectList, htmlAttributes: new { @class = "form-control" })
                <input type="submit" value="Сортировка" class="btn btn-info" />

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.ActionLink("Список пользователей", "Index", "Admin", htmlAttributes: new { @class = "btn btn-default btn-default" })
                @Html.ActionLink("Список файлов", "FileList", "Admin", htmlAttributes: new { @class = "btn btn-primary selected" })
            </div>

        }

    </div>
    <div class="panel panel-default container">
        <div class="panel-body">
            <table class="table table-condensed table-bordered">
                <tr style="background-color: #337ab7">
                    <th class="text-right">
                        Id
                    </th>
                    <th>
                        Название
                    </th>
                    <th>
                        Размер
                    </th>
                    <th>
                        Автор
                    </th>
                    <th>
                        Дата загрузки
                    </th>
                    <th>
                        Доступ к файлу
                    </th>
                    <th>
                        Категория
                    </th>
                    <th class="text-center">
                        Действия
                    </th>
                </tr>

                @foreach (var item in Model.Files)
                {
                    <tr>
                        <td class="text-right">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.ActionLink(item.Name, "Details", "File", new { id = item.Id }, null)
                        </td>
                        <td>
                            @{
                                string size = string.Format("{0} Б", item.SizeInBytes);
                                double sizeInKBytes, sizeInMBytes, sizeInGBytes;
                                if (item.SizeInBytes >= 1024)
                                {
                                    sizeInKBytes = (double)item.SizeInBytes / 1024;
                                    size = string.Format("{0:N2} КБ", sizeInKBytes);
                                    if (sizeInKBytes >= 1024)
                                    {
                                        sizeInMBytes = (double)sizeInKBytes / 1024;
                                        size = string.Format("{0:N2} МБ", sizeInMBytes);
                                        if (sizeInMBytes >= 1024)
                                        {
                                            sizeInGBytes = (double)sizeInMBytes / 1024;
                                            size = string.Format("{0:N2} ГБ", sizeInGBytes);
                                        }
                                    }
                                }
                            }
                            @size
                        </td>
                        <td>
                            @{
                                string login = "";
                                foreach (var user in ViewBag.Users)
                                {
                                    if (user.Id == item.UserId)
                                    {
                                        login = user.Login;
                                        @Html.ActionLink(login, "AccountDetails", new { userId = item.UserId })
                                    }
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @(item.AccessId == 1 ? "private" : "public")
                        </td>
                        <td>
                            @if (item.CategoryId == 1)
                            {
                                @Html.Display("Изображение")
                                <p>Изображение</p>
                            }
                            else if (item.CategoryId == 2)
                            {
                                @Html.Display("Аудио")
                                <div>Аудио</div>
                            }
                            else if (item.CategoryId == 3)
                            {
                                @Html.Display("Видео")
                                <div>Видео</div>
                            }
                            else if (item.CategoryId == 4)
                            {
                                @Html.Display("Текстовый")
                                <div>Текстовый</div>
                            }
                            else if (item.CategoryId == 5)
                            {
                                @Html.Display("Таблица")
                                <div>Таблица</div>
                            }
                            else if (item.CategoryId == 6)
                            {
                                @Html.Display("Архив")
                                <div>Архив</div>
                            }
                            else if (item.CategoryId == 7)
                            {
                                @Html.Display("Презентация")
                                <div>Презентация</div>
                            }
                            else if (item.CategoryId == 8)
                            {
                                @Html.Display("Другое")
                                <div>Другое</div>
                            }
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Скачать", "Download", "File", new { fileId = item.Id }, htmlAttributes: new { @class = "btn btn-success btn-xs" })
                            @Html.ActionLink("Удалить", "Delete", "File", new { fileId = item.Id }, htmlAttributes: new { @class = "btn btn-danger btn-xs" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
<br />
<div class="container-fluid text-center">
    <div class="row">
        <div class="btn-group btn-group-lg">
            @Html.PageLinks(Model.PageInfo, x => Url.Action("FileList", new { page = x, item = ViewBag.Item }))
        </div>
    </div>
</div>