@model FileSharing.Models.PageViewModel
@using FileSharing.Helpers
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.StatusMessage != "")
{
    <div class="text-event-success container-fluid">@ViewBag.StatusMessage</div>
}

<br />
<h2 id="headerId" class="container">Панель администратора</h2>
<br />
<br />

<div class="container-fluid">
    <div class="row">
        @using (Html.BeginForm("Index", "Admin", FormMethod.Get))
        {
            @Html.AntiForgeryToken()

            <div class="form-inline">
                &nbsp;&nbsp;&nbsp;&nbsp;
                @Html.DropDownList("item", ViewData["Items"] as SelectList, htmlAttributes: new { @class = "form-control" })
                <input type="submit" value="Сортировка" class="btn btn-info" />

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.ActionLink("Список пользователей", "Index", "Admin", htmlAttributes: new { @class = "btn btn-default btn-primary selected" })
                @Html.ActionLink("Список файлов", "FileList", "Admin", htmlAttributes: new { @class = "btn btn-default" })
            </div>

        }

    </div>


    <div class="panel panel-default container" style="">
        <div class="panel-body">
            <table class="table table-condensed table-bordered" id="users">
                <tr style="background-color: #337ab7">
                    <th class="text-right">
                        Id
                    </th>
                    <th>
                        Электронная почта
                    </th>
                    <th>
                        Логин
                    </th>
                    <th>
                        Возраст
                    </th>
                    <th>
                        Пол
                    </th>
                    <th>
                        Роль
                    </th>
                    <th>
                        Файлы
                    </th>
                    <th class="text-center">
                        Действия
                    </th>
                </tr>

                @foreach (var item in Model.Users)
                {
                    <tr>
                        <td class="text-right">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.ActionLink(item.Login, "AccountDetails", new { userId = item.Id })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @if (item.RoleId == 2)
                            {
                                <p>User</p>
                            }
                            else
                            {
                                <p>Admin</p>
                            }
                        </td>
                        <td>
                            @{
                                Queue<string> fileNames = new Queue<string>();
                                foreach (var file in ViewBag.Files)
                                {
                                    if (file.UserId == item.Id)
                                    {
                                        fileNames.Enqueue(file.Name);
                                    }
                                }
                            }
                            @foreach (var file in ViewBag.Files)
                            {
                                if (file.UserId == item.Id)
                                {
                                    @Html.ActionLink(fileNames.Dequeue(), "Details", "File", new { id = file.Id }, null)
                                    <br />
                                }
                            }
                        </td>
                        <td class="text-center">
                            @if (User.Identity.Name != item.Login)
                            {
                                using (Html.BeginForm("DeleteAccount", "Admin", new { userId = item.Id }))
                                {
                                    @Html.Hidden("Id", item.Id)
                                    <input type="submit" class="btn btn-danger" value="Удалить" />
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<br />
<div class="container-fluid text-center">
    <div class="row">
        <div class="btn-group btn-group-lg">
            @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x, item = ViewBag.Item }))
        </div>
    </div>
</div>
<br />

@section scripts {
    <script type="text/javascript">

    </script>
}