@{
    ViewBag.Title = "Home Page";
}

<h2>Главная страница</h2>

@ViewBag.Result

<h3>Выберите файл для загрузки</h3>
@using (Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="uploads" multiple>
    <br>
    if (User.Identity.IsAuthenticated)
    {
        <div>
            <div>
                Доступ к файлу
            </div>
            <div id="access">
                @*@Html.Label("Access", "Открытый")*@
                Закрытый
                @Html.RadioButton("access", "private", true) &nbsp;
                Открытый
                @Html.RadioButton("access", "public")
            </div>
            <div>
                Срок хранения файла
            </div>
            10 секунд
            @Html.RadioButton("retentionPeriodId", 1, true) &nbsp;
            30 секунд
            @Html.RadioButton("retentionPeriodId", 2) &nbsp;
            1 минуту
            @Html.RadioButton("retentionPeriodId", 3) &nbsp;
        </div>
        <br />
    }
    else
    {
        <div id="access" style="display: none">
            <div>
                Доступ к файлу
            </div>
            <div>
                @*@Html.Label("Access", "Открытый")*@
                Закрытый
                @Html.RadioButton("access", "private", true) &nbsp;
                Открытый
                @Html.RadioButton("access", "public")
            </div>
            <div>
                Срок хранения файла
            </div>
            10 секунд
            @Html.RadioButton("retentionPeriodId", 1, true) &nbsp;
            30 секунд
            @Html.RadioButton("retentionPeriodId", 2) &nbsp;
            1 минуту
            @Html.RadioButton("retentionPeriodId", 3) &nbsp;
        </div>

    }
    <input type="submit" value="Загрузить" />
}

@section scripts {
    <script type="text/javascript">
        @*var access = document.getElementById("access");
        access.hidden = true;
        if (@User.Identity.IsAuthenticated) {
            //access.style.display = "block";
            access.hidden = false;
        }*@
    </script>
}