@{
    ViewBag.Title = "Главная страница";
    string text = "Если файл имеет тип доступа \"Закрытый\", то доступ к этому файлу имеете только вы в своем профиле, а если файл имеет тип доступа \"Открытый\", то доступ к нему имеют все пользователи во вкладке \"Файлы\"";
}

@if (ViewBag.StatusMessage != "")
{
    <div class="text-event-success container-fluid">@ViewBag.StatusMessage</div>
}
<h2 class="text-center" id="headerId">Загружайте и делитесь файлами.</h2>
<h3 class="text-center" id="headerId">Выберите файл для загрузки</h3>
<br />
@using (Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (User.Identity.IsAuthenticated)
    {
        <div style="margin:0 auto;">
            <div id="upload1" class="text-center" style=" margin: auto;">
                <br /><br />
                <br />
                <div>
                    <input type="file" name="uploads" id="file-lg" class="file-select file-select-lg" multiple />
                    <label for="file-lg" class="filename">
                        Выберите файлы...(до 2,5Гб)
                    </label>
                    <p id="result"></p>
                    <br />
                    <div>
                        <div>
                            <h4>Доступ к файлу</h4>
                        </div>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="access" id="option1" autocomplete="off" value="private" checked> Закрытый
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="access" id="option2" autocomplete="off" value="public"> Открытый
                            </label>
                        </div>
                        <span id="btn-tooltip" style="font-size: 100%" class="glyphicon glyphicon-question-sign btn-secondary" data-toggle="tooltip" data-placement="right" title="@text"></span>
                        <br />
                        <br />
                        <div>
                            <h4>Срок хранения файла</h4>
                        </div>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary">
                                <input type="radio" name="retentionPeriodId" id="option1" autocomplete="off" value=1> 1 скачивание
                            </label>
                            <label class="btn btn-primary active">
                                <input type="radio" name="retentionPeriodId" id="option1" autocomplete="off" value=1 checked> 3 дня
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="retentionPeriodId" id="option2" autocomplete="off" value=2> 7 дней
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="retentionPeriodId" id="option2" autocomplete="off" value=3> 1 месяц
                            </label>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <input type="submit" class="btn btn-primary" value="Загрузить" />
                @{
                    string link;
                }
                @if (ViewBag.File != null)
                {
                    <br />
                    <div>Загруженный файл:</div>
                    <span class="glyphicon glyphicon-file"></span>@ViewBag.File.Name
                    <br />
                    <br />
                    if (ViewBag.File.FileUniqueKeyId == null)
                    {
                        @Html.ActionLink("Сгенерировать ссылку для скачивания", "GetFileDownloadLink", "File", new { fileId = ViewBag.File.Id }, htmlAttributes: new { @style = "color:;", @class = "btn btn-primary" })
                    }
                    if (ViewBag.File.FileUniqueKeyId != null)
                    {
                        foreach (var uniqueKey in ViewBag.FileUniqueKeys)
                        {
                            if (ViewBag.File.FileUniqueKeyId == uniqueKey.Id)
                            {
                                //link = Url.Content("https://localhost:44301/File/DownloadByLink?fileId=" + ViewBag.File.Id + '&' + "uniqueKey=" + uniqueKey.UniqueKey);
                                link = Url.Content("http://filesharing.somee.com/File/DownloadByLink?fileId=" + ViewBag.File.Id + '&' + "uniqueKey=" + uniqueKey.UniqueKey);
                                <a id="linkFile" onclick="copyToClipboard()">@link</a>
                                <br />
                                <div style="color:#fff;">Нажмите на ссылку, чтобы скопировать ее</div>
                            }
                        }
                    }
                }
            </div>
        </div>
    }
    else
    {
        <div style="margin:0 auto;">
            <div id="upload2" class="text-center" style=" margin: auto;">
                <br />
                <div>
                    <input type="file" name="uploads" id="file-lg" class="file-select file-select-lg" multiple />
                    <label for="file-lg" class="filename">
                        <i class="fa fa-arrow-circle-o-up"></i>
                        Выберите файл...(до 1ГБ)
                    </label>
                    <p id="result"></p>
                    <br />
                    <div style="display: none">
                        <div>
                            <h4>Доступ к файлу</h4>
                        </div>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="access" id="option1" autocomplete="off" value="private" checked> Закрытый
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="access" id="option2" autocomplete="off" value="public"> Открытый
                            </label>
                        </div>
                        <span id="btn-tooltip" style="font-size: 100%" class="glyphicon glyphicon-question-sign btn-secondary" data-toggle="tooltip" data-placement="right" title="@text"></span>
                        <br />
                        <br />
                        <div>
                            <h4>Срок хранения файла</h4>
                        </div>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="retentionPeriodId" id="option1" autocomplete="off" value=1 checked> 3 дня
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="retentionPeriodId" id="option2" autocomplete="off" value=2> 7 дней
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="retentionPeriodId" id="option2" autocomplete="off" value=3> 1 месяц
                            </label>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary btn-lg" value="Загрузить" />
                @{
                    string link;
                }
                @if (ViewBag.File != null)
                {
                    <br /><br />
                    <div>Загруженный файл:</div>
                    <span class="glyphicon glyphicon-file"></span>@ViewBag.File.Name
                    <br />
                    if (ViewBag.File.FileUniqueKeyId == null)
                    {
                        @Html.ActionLink("Сгенерировать ссылку для скачивания", "GetFileDownloadLink", "File", new { fileId = ViewBag.File.Id }, htmlAttributes: new { @style = "color:;", @class = "btn btn-primary" })
                    }
                    if (ViewBag.File.FileUniqueKeyId != null)
                    {
                        foreach (var uniqueKey in ViewBag.FileUniqueKeys)
                        {
                            if (ViewBag.File.FileUniqueKeyId == uniqueKey.Id)
                            {
                                //link = Url.Content("https://localhost:44301/File/DownloadByLink?fileId=" + ViewBag.File.Id + '&' + "uniqueKey=" + uniqueKey.UniqueKey);
                                link = Url.Content("http://filesharing.somee.com/File/DownloadByLink?fileId=" + ViewBag.File.Id + '&' + "uniqueKey=" + uniqueKey.UniqueKey);
                                <a id="linkFile" onclick="copyToClipboard()">@link</a>
                                <br />
                                <div style="color:#fff;">Нажмите на ссылку, чтобы скопировать ее</div>
                            }
                        }
                    }
                }
                <br /><br />
                @Html.ActionLink("Войдите, чтобы загружать файлы до 2,5ГБ", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-info", @style = "position: absolute; bottom: 20px; right: 80px;" })
            </div>
        </div>
    }
}

@section scripts {
    <script type="text/javascript">

        function copyToClipboard() {
            var copytext = document.createElement('input')
            copytext.value = document.getElementById("linkFile").innerHTML.toString();
            document.body.appendChild(copytext)
            copytext.select()
            document.execCommand('copy')
            document.body.removeChild(copytext)
        }

        document.addEventListener('copy', function (e) {

            // Нам необходимо предотвратить стандартное копирование,
            // иначе все просто скопируется как обычно.
            e.preventDefault();

            // Событие не дает нам доступ к буферу поэтому
            // нам надо добавить выделение с помощью Selection API.
            var selection = window.getSelection().toString();

            // Трансформируем выделенное как хотим
            var linkText = selection.replace("&amp;", "&");

            // Вставляем измененный текст в буфер.
            e.clipboardData.setData('text/plain', linkText);

        })

        $(document).ready(function () {

            $("input:file").change(function () { // Выполняем функцию после выбора файлов

                var name_files = [];
                var arrayHtml = '<div>массив: </div>';
                var selectionHtml = 'Выбранные файлы: </br>';
                for (var i = 0; i < $(this).get(0).files.length; ++i) {
                    name_files[i - 1] = $(this).get(0).files[i].name;
                    selectionHtml += '<span class="glyphicon glyphicon-file"></span>' + name_files[i - 1] + '</br>';
                }
                $("#result").html(selectionHtml);
            });

        });
        $('[data-toggle="tooltip"]').tooltip();
    </script>
}
