@model FileSharing.Models.File

@{
    ViewBag.Title = "Details";
}

<h2>FileDetails</h2>

<div>
    <h4>File</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeInBytes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeInBytes)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.UserId)*@
            Автор
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessId)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.SizeInBytes)*@
            @(Model.AccessId == 1 ? "private" : "public")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Скачать", "Download", new { fileId = Model.Id }) |
    @Html.ActionLink("Удалить", "Delete", new { fileId = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
