@model FileSharing.Models.File

@{
    ViewBag.Title = "Details";
}

<h2>FileDetails</h2>

<div>
    <h4>File</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeInBytes)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.SizeInBytes)*@
            @{
                string size = string.Format("{0} Б", Model.SizeInBytes);
                double sizeInKBytes, sizeInMBytes, sizeInGBytes;
                if (Model.SizeInBytes >= 1024)
                {
                    sizeInKBytes = (double)Model.SizeInBytes / 1024;
                    size = string.Format("{0:N2} КБ", sizeInKBytes);
                    if (sizeInKBytes >= 1024)
                    {
                        sizeInMBytes = (double)sizeInKBytes / 1024;
                        size = string.Format("{0:N2} МБ", sizeInMBytes);
                        if (sizeInMBytes >= 1024)
                        {
                            sizeInGBytes = (double)sizeInMBytes / 1024;
                            size = string.Format("{0:N2} ГБ", sizeInGBytes);
                        }
                    }
                }
            }
            @size
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.UserId)*@
            Автор
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessId)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.SizeInBytes)*@
            @(Model.AccessId == 1 ? "private" : "public")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Скачать", "Download", new { fileId = Model.Id }) |
    @Html.ActionLink("Удалить", "Delete", new { fileId = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
