@model FileSharing.Models.File

@{
    ViewBag.Title = "Детали файла";
}

<br />
<h2 id="headerId">Детали файла</h2>
<br />
<br />


<div style="margin:0 auto;">
    <div id="fileDetails" class="text-center" style=" margin: auto;">
        <br />
        <div>
            <dl class="row">
                <dt class="col-md-6">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd class="col-md-6">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-md-6">
                    @Html.DisplayNameFor(model => model.SizeInBytes)
                </dt>

                <dd class="col-md-6">
                    @*@Html.DisplayFor(model => model.SizeInBytes)*@
                    @{
                        string size = string.Format("{0} Б", Model.SizeInBytes);
                        double sizeInKBytes, sizeInMBytes, sizeInGBytes;
                        if (Model.SizeInBytes >= 1024)
                        {
                            sizeInKBytes = (double)Model.SizeInBytes / 1024;
                            size = string.Format("{0:N2} КБ", sizeInKBytes);
                            if (sizeInKBytes >= 1024)
                            {
                                sizeInMBytes = (double)sizeInKBytes / 1024;
                                size = string.Format("{0:N2} МБ", sizeInMBytes);
                                if (sizeInMBytes >= 1024)
                                {
                                    sizeInGBytes = (double)sizeInMBytes / 1024;
                                    size = string.Format("{0:N2} ГБ", sizeInGBytes);
                                }
                            }
                        }
                    }
                    @size
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-md-6">
                    @*@Html.DisplayNameFor(model => model.UserId)*@
                    Автор
                </dt>

                <dd class="col-md-6">
                    @Html.DisplayFor(model => model.User.Login)
                </dd>
            </dl>
            @if (User.Identity.Name == Model.User.Login)
            {
                <dl class="row">
                    <dt class="col-md-6">
                        @Html.DisplayNameFor(model => model.AccessId)
                    </dt>

                    <dd class="col-md-6">
                        @*@Html.DisplayFor(model => model.SizeInBytes)*@
                        @(Model.AccessId == 1 ? "private" : "public")
                    </dd>

                </dl>
                <dl class="row">
                    <dt class="col-md-6">
                        @Html.ActionLink("Скачать", "Download", new { fileId = Model.Id }, htmlAttributes: new { @class = "btn btn-success", @style = "min-width: 219px" })
                    </dt>

                    <dd class="col-md-6">
                        @Html.ActionLink("Удалить", "Delete", new { fileId = Model.Id }, htmlAttributes: new { @class = "btn btn-danger", @style = "min-width: 219px" })
                    </dd>
                </dl>
                <div class="row"><br /></div>
                <dl class="row">
                    <dt class="col-md-6">
                        @Html.ActionLink("Изменить", "EditFile", "Manage", new { fileId = Model.Id }, htmlAttributes: new { @class = "btn btn-primary", @style = "min-width: 219px" })
                    </dt>

                    <dd class="col-md-6">
                        @Html.ActionLink("Назад", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-warning", @style = "min-width: 219px" })
                    </dd>
                </dl>
            }
            else
            {
                <div class="row"><br /></div>
                <div class="row"><br /></div>
                <dl class="row">
                    <dt class="col-md-6">
                        @Html.ActionLink("Скачать", "Download", new { fileId = Model.Id }, htmlAttributes: new { @class = "btn btn-success", @style = "min-width: 219px" })
                    </dt>

                    <dd class="col-md-6">
                        @Html.ActionLink("Назад", "Index", "File", null, htmlAttributes: new { @class = "btn btn-warning", @style = "min-width: 219px" })
                    </dd>
                </dl>
            }
        </div>
    </div>
</div>
